<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOBILE WORLD</title>
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.png">
    <style>
        .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

    </style>
</head>
<body>
    <h2 style="text-align:center">SHOPPING NOW...!</h2>

<div class="card">
  <img src="/static/images/oppo.jpg" alt="phone" style="width:100%">
  <h1>PHONES WORLD</h1>
  <p>“End-users, not technologies, shape the market. Consequently, marketers need to stay abreast not only of technological developments but also of the way people respond to them.”</p>
 <a href="/oderadd"><p><button>order now</button></p></a>
 <a href="/addproduct"><p><button>product add</button></p></a>
</div>
</body>
</html>